#title{
  background-color: #ffd700;
  color:#fff;
  font-family:'Montserrat', sans-serif;
/* font-family: 'Ubuntu', sans-serif; */
}
h1{
  font-family: 'Montserrat';
  line-height: 1.5;
}

.img{
  transform: rotate(7.5deg);
  width: 70%;
  padding-left: 30%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem !important;
}
.navbar{
  padding:0 0 3.5rem !important;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  /* font-weight:; */
  /* color: #f2f2f2; */
}
.btn-download{
  margin: 5% 3% 3% 0;
}
#features{
padding:15% 5% 15% 16%;
background-color: #fff;
width: 100%;
position: relative;
z-index: 1;
/* margin-left: 5%; */
}
.feature-box{
  text-align: center;
  margin:0 4rem 0 0px !important;
  padding-right: 5.1rem !important;
}
h3{
  font-family: "Montserrat-bold";
  font-weight: bold !important;
}
/* .col-lg-6{
  padding-bottom: 2%;
} */
p{
  font-family: "Ubuntu";
  color:grey;
  font-weight: normal;
}
.fas{
  color:#ffdb4d;
  margin-bottom: 1rem;
}
.fas:hover{
  color:#ffcc00;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background: #ffd700;
  color:#fff;
}
.testimonial-image{
    width:10%;
    border-radius:50%;
    margin-right: 20px;
}
.container-lg{
  padding: 3% 15% 35px;
}
#press{
  background-color: #ffd700;
  text-align: center;
  margin-right: 30px;
  width:100%;
  padding-bottom: 3%;
}
.carousel-item{
  padding: 7% 15%;
}

.press-logo{
  width:15%;
  padding-left: 30px;
}
.row{
  margin-bottom: -5%;
}
.pricing{
  margin-bottom: 5% !important;
}
@media only screen and (max-width: 1028px) {
  .position-static{
    margin-top:10%;
    margin-left: 50%;
      /* width: 75% !important;
    height: 75% !important; */
    transform: rotate(6.5deg);
  }
  .nag{
    text-align: center;
    /* width:10% !important; */
    /* margin-right: 50% !important; */
  }
  .row{
    text-align: center;
    margin-bottom: -3%;
  }
  .img{
    width: 75% ! important ;}
    .navbar-collapse {
     background-color: #cca300 !important;
 }
      /* color:black !important; */
  .navbar-toggler{
    background-color: #4d4d4d !important;
  }
}
#cta{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  color:#fff;
  background-color:#ffd700;
  font-family:'Montserrat', sans-serif;
}
#footer{
  padding:30px 0 25px;
  text-align: center;
  margin-right: 4%;
}
.nag{
  font-style:'Montserrat-Black', sans-serif;
  width: 25%;
  margin-left: 35%;
}
.plan{
  text-align: center;
}
.fab_1{
  padding:3% 0 3%;
  margin-left: 1.9%;
  margin-right: 20px;
}
.ah{
  color:#fff !important;
  text-decoration: none !important;
}
/* .uh:hover{
  color: black !important;
  text-decoration: none !important;
} */
#uh{
  color: black !important;
  text-decoration: none !important;
}
#social{
  color:black;
}
